* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Archivo", sans-serif;
  margin: 0;
}
body {
  background-color: #fcf7f8;
  overflow-x: hidden;
  max-width: 100vw;
}
@font-face {
  font-family: "Clash";
  src: url("./assets/font/ClashDisplay.ttf") format("truetype");
}
@font-face {
  font-family: "Archivo";
  src: url("./assets/font/Archivo.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}
